div {
  display: inline-block;
  width: 150px;
  border-radius: 8px;
  font-size: 24px;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

button {
  width: inherit;
  border-radius: inherit;
  font-size: inherit;
  margin-left: inherit;
  padding: inherit;
  text-align: inherit;
  cursor: inherit;
}

#primary {
  border: 1px solid rgba(0, 0, 255, 0.675);
  background-color: rgba(0, 0, 255, 0.675);
  color: white;
}

#default {
  border: 1px solid rgb(61, 61, 61);
  background-color: white;
  color: rgb(61, 61, 61);
}

#dashed {
  border: 1px dashed rgb(61, 61, 61);
  background-color: white;
  color: rgb(61, 61, 61);
}

#danger {
  border: 1px solid rgb(61, 61, 61);
  background-color: rgba(233, 185, 185, 0.152);
  color: red;
}
